ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid black;
    background-color: #f3f3f3;
    justify-content: center;
}

ul li a {
    display: block;
    color: blue;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active) {
    background-color: gray;
}

ul li a.active {
    background-color: #04AA6D;
}
div.flex-container {
    display: flex;
    /* Show the flex items horizontally */
    flex-direction: row;
}

div.flex-container > div {
    margin: 10px;
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}

/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
}
.dropdown{
    /*  display: none;*/
    display: block;
    position: absolute;
    opacity: 0;
    background: #ccc;

    transition: all 0.3s ease;
}

.menu li:hover>ul{
    opacity: 1;
}