#menyy{
    float:left;
    padding-right:30px;
    background-color: palegoldenrod;

}
#sisu{
    float:left;
    background-color:bisque;
    padding:2%;
}
#footer{
    clear:left;
}
img{
    width:30%;
    border-radius: 50%;
    border: 2px solid #0F2D66;
}